*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 600px;
    color: white;
    background-image: url("../image/header-background.jpg");
}
.header-list{
    display: flex;
    justify-content: center;

}
.header-list li{
    padding: 15px;
    list-style-type: none;
}
.header-list a{
    color: white;
    text-decoration: none;
}
.header-list .active{
    color: orange;
}
.text-header{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 150px auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.text-header h1{
    font-size: 40px;
    margin-bottom: 16px;
}
.text-header p{
    font-size: 30px;
}